<?xml version="1.0"?>
<config>
    <!-- <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <reverb_reports before="Mage_Adminhtml">Reverb_Reports_Adminhtml</reverb_reports>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <reverb_reports_delete_stale_successful>
                <schedule>
                    <cron_expr>37 4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>reverb_reports/cron_delete_stale_successful::deleteStaleSuccessfulReports</model>
                </run>
            </reverb_reports_delete_stale_successful>
        </jobs>
    </crontab> -->
</config>
